# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = collegeboard_scraper.settings

[deploy]
project = collegeboard_scraper
